# Shared by public-api, private-api, and common_custom (copy to .env)
MONGODB_DATABASE=
MONGODB_HOST=
MONGODB_PORT=
MONGODB_USERNAME=
MONGODB_PASSWORD=

SERVICE_VERSION=
SERVICE_UNDER_MAINTENANCE=False

OWNER_NAME=
OWNER_EMAIL=
OWNER_PHONE_NUMBER=
